@import url(common.css);

/* TOP popup */
#topbanner{
	width:100%;
	height:132px;
	background:#f3806b;
}
.pop_box{
	width:1064px;
	margin:0 auto;
}

.btn_close{  /*닫기버튼*/
	position:absolute;
	top:95px;
	right:20px;
	display:block;
	width:15px;
	height:18px;
	background:url(../image/btn_close.jpg) no-repeat;
	cursor:pointer;
}

.btn_dayclose{  /*오늘하루열지않기*/
	position:absolute;
	top:98px;
	right:45px;
	display:block;
	color:#fff;
}


/* Content */
#header{
	width:1100px;
	height:200px;
	margin:0 auto;
	background:pink;
}
#contents{
	width:1100px;
	height:500px;
	margin:0 auto;
	background:#ccc;
}
h2{
	text-align:center;
	padding-top:10px;
}
